body{
background-color: #e1f1ff42;
}

.btn-custom {
width: 100px;
}

table {
border: 1px solid black;
margin-top: 50px;
}

.form-custom {
padding: 50px;
    width: 500px;
}

.display-4{
margin-bottom: 100px;
}

.h2_custom-top{
margin-top: 50px;
}

.btn_custom2{
border-radius: 0px;
}

.input_custom1{
width: 600px;
}