<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/registration/css/reg.css}" href="../../static/css/reg.css">
    <title>Registration page</title>
</head>

<body>

    <div class="back">
        <article class="container">
            <div class="container-title">
                <h1 class="reg-title">РЕГИСТРАЦИЯ</h1>
            </div>

            <div style="padding: 50px;">


                <!--  -->

                <form action="#" th:action="@{/registration/registration-user}" th:object="${user}" method="post">

                    <div class="grid-input ">
                        <label class="text" for="name">Имя</label>
                        <input th:field="*{username}" class="text input-custom" type="text" name="name" id="name">
                    </div>

                    <div class="grid-input ">
                        <label class="text" for="secondName">Фамилия</label>
                        <input th:field="*{lastname}" class="text input-custom" type="text" name="secondName" id="secondName">
                    </div>

                    <div class="grid-input ">
                        <label class="text" for="email">Почта</label>
                        <input th:field="*{email}" class="text input-custom" type="email" name="email" id="email" placeholder="example@mail.ru">
                    </div>

                    <div class="grid-input ">
                        <label class="text" for="telegram">Логин телеграм</label>
                        <input th:field="*{socialLink}" class="text input-custom" type="text" name="telegram" id="telegram" placeholder="example">
                    </div>

                    <div class="grid-input ">
                        <label class="text" for="phone">Номер телефона</label>
                        <input th:field="*{phone}" class="text input-custom" type="text" name="phone" id="phone">
                    </div>

                    <div class="grid-input ">
                        <label class="text" for="date">Дата рождения</label>
                        <input th:field="*{dateBirth}" class="text input-custom" type="date" name="date" id="date">
                    </div>

                    <div class="grid-input ">
                        <label class="text" for="password">Пароль</label>
                        <input th:field="*{password}" class="text input-custom" type="password" name="password" id="password">
                    </div>

                    <input class="text input-custom-btn" type="submit" value="Зарегистрироваться!">
                </form>

                <!--  -->
            </div>


        </article>
    </div>

</body>

</html>