<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>

<div class="container-custom">
    <form action="#" th:action="@{'/server/update/'}" th:object="${user ?}" method="post" class="form-custom container">
        <h1 class="display-4">Снять деньги с банковской карты</h1>
        
        <div class="mb-3">
            <label for="username" class="form-label">Введите сумму</label>
            <input type="text" th:field="*{username}" id="username" placeholder="Name" >
            <br/>
        </div>
        
        <div class="mb-3">
            <label for="username" class="form-label">Ваш пин-код</label>
            <input type="text" th:field="*{username}" id="username" placeholder="Name" >
            <br/>
        </div>
        
        <input type="submit" value="Снять" class="btn btn-primary">
    </form>
</div>

</body>
</html>
