<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/user/css/user.css}" href="../../static/css/user.css">
    <title>Запись</title>
</head>

<body>

<article class="container">
    <!-- menu logo -->
    <aside class="logo-menu">
        <div class="logo_title-box">
            <h1 class="logo-title">Личный кабинет</h1>
            <h2 class="logo-subtitle">управление сессиями</h2>
        </div>
        <div class="logo_submenu">
            <a href="/" class="logo_main-link">главная</a>
            <a href="/welcome" class="logo_main-link">мой кабинет</a>
            <a href="/logout" class="logo_main-link">выход</a>
        </div>
    </aside>
    <!--  -->

    <div class="user-page">
        <p class="user_field username">
            <span th:text="${user.username}"></span>
            <span th:text="${user.lastname}"></span>,
            <span th:text="${user.getAge}"></span>
        </p>
        <p class="user_field"><span>Почта:</span> <span th:text="${user.email}"></span></p>
        <p class="user_field"><span>Телеграм:</span> <span th:text="${user.socialLink}"></span></p>
        <p class="user_field"><span th:text="${user.phone}"></span></p>
        <p class="user_field"><span>Стоимость сессий:</span> <span th:text="${user.getStringPrice}"></span></p>
        <a href="/user/edit" class="user_field edit-link">редактировать профиль</a>
    </div>

    <hr>


    <p class="sessions" style="margin-bottom: 30px;">Свободные окна для записи</p>
    <div class="calendar center">
        <p class="title" style="background-color: rgb(39, 39, 39);">Календарь</p>
        <div class="calendar-box">
            <form class="calendar-box__item input-grid" action="#"
                  th:action="@{'/user/sign-up-session/' + ${openDate.id}}" method="post"
                  th:each="openDate : ${openDateList}">
                <p class="text" style="font-weight: 400;" th:text="${openDate.parsingWithDayName.get(0)}">Понедельник</p>
                <p class="text" th:text="${openDate.parsingWithDayName.get(1)}">20.03.2024</p>
                <input class="submit-date" type="submit" value="Записаться">
            </form>
        </div>

    </div>
    </div>


</article>

</body>

</html>
