<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/css/style_admin.css}" href="../../static/css/style_admin.css">
    <title>ЛК</title>
</head>

<body>

    <article class="container">
        <!-- menu logo -->
        <aside class="logo-menu">
            <div class="logo_title-box">
                <h1 class="logo-title">Личный кабинет</h1>
                <h2 class="logo-subtitle">управление сессиями</h2>
            </div>
            <div class="logo_submenu">
                <a href="/" class="logo_main-link">главная</a>
                <a href="/welcome" class="logo_main-link">мой кабинет</a>
                <a href="/logout" class="logo_main-link">выход</a>
            </div>
        </aside>
        <!--  -->

        <div class="user-page">
            <p class="user_name">Ann</p>
            <p class="user_name" style="padding-left: 20px;">Novikova</p>
        </div>

        <hr>

        <p class="sessions">Список сессий</p>

        <div class="second-menu">
            <a href="/admin" class="second-menu_link">Список сессий</a>
            <a href="/admin/calendar" class="second-menu_link">Календарь</a>
            <a href="/admin/latest" class="second-menu_link">Домашняя работа</a>
            <a href="/admin/analytics" class="second-menu_link">Аналитика по клиентам</a>
            <a href="/admin/all-users" class="second-menu_link">Все клиенты</a>
        </div>

        <div class="sessions-list">

            <!--  -->
<div class="table-wrap">
            <table class="table">
                <thead>
                    <tr class="table-title">
                        <th scope="col">Статус</th>
                        <th scope="col">Дата и время</th>
                        <th scope="col">Имя Фамилия</th>
                        <th scope="col">Оплата</th>
                        <th scope="col">К встрече</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="table-field" th:each="session_item : ${sessions}">
                        <td th:switch="${session_item.sessionStatus}" style="text-align: center;width: 150px;">
                            <p th:case="${session_item.sessionStatus.SESSION_DONE}" class="sessions-list_item_field" style="background-color: #c3c3c37a;">Закончена</p>
                            <p th:case="${session_item.sessionStatus.SESSION_ACTIVE}" class="sessions-list_item_field" style="background-color: #46fa6d7a;">Активна</p>
                            <p th:case="${session_item.sessionStatus.SESSION_CANCELLED}" class="sessions-list_item_field" style="background-color:#ff0c0ca3; color: white;">Отменена</p>
                        </td>


                        <td th:switch="${session_item.sessionDate}">
                            <p th:case="null">No time</p>
                            <p th:case="*" th:text="${session_item.parsingDate}" class="sessions-list_item_field"></p>
                        </td>
<!--                        <td th:text="${session_item.sessionDate.parsingDate}" class="sessions-list_item_field"></td>-->

                        <td class="sessions-list_item_field">
                            <span th:text="${session_item.user.username}"></span>
                            <span th:text="${session_item.user.lastname}"></span>
                            <br>
                            <span th:text="${session_item.user.phone}"></span>
                        </td>

                        <td class="sessions-list_item_field" th:switch="${session_item.paymentStatus}">
                            <span th:case="true">✅</span>
                            <span th:case="false">✖️</span>
                        </td>

                        <td class="users-list_item_field" th:switch="${session_item.sessionLink}">
<!--                            <a class="sessions-list_item_link" th:case="null">Выдай ссылку человеку...</a>-->
                            <form th:case="null" action="#" th:action="@{'/admin/change-link/' + ${session_item.id}}" th:object="${session}" method="post">
                                <div class="update-input">
                                    <input th:value="${sessionLink}" class="text input-zoom" style="width: 150px; text-align: center;" type="text" name="sessionLink" id="sessionLink">
                                    <input type="submit" value="OK" class="submit-price text">
                                </div>
                            </form>

                            <a th:case="*" th:href="${session_item.sessionLink}" target="_blank" class="sessions-list_item_link">Google Meet</a>
                        </td>

                        <td th:switch="${session_item.sessionStatus}" class="users-list_item_field">
                            <a th:case="${session_item.sessionStatus.SESSION_ACTIVE}" th:href="@{'/admin/edit-session-form/' + ${session_item.id}}" class="sessions-list_item_link">Ред.</a>
                        </td>

                        <td th:switch="${session_item.sessionStatus}" class="users-list_item_field">
                            <a th:case="${session_item.sessionStatus.SESSION_ACTIVE}" th:href="@{'/admin/cancel/' + ${session_item.id}}" class="sessions-list_item_link">Отменить</a>
                        </td>
                    </tr>

                </tbody>
            </table>
</div>
            <!--  -->


        </div>


    </article>

</body>

</html>
