<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@600;700;800&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/css/style_admin.css}" href="../../static/css/style_admin.css">
    <title>Manage page</title>
</head>

<body>

<article class="container">
    <!-- menu logo -->
    <aside class="logo-menu">
        <div class="logo_title-box">
            <h1 class="logo-title">Личный кабинет</h1>
            <h2 class="logo-subtitle">управление сессиями</h2>
        </div>
        <div class="logo_submenu">
            <a href="/welcome" class="logo_main-link">главная</a>
            <a href="/welcome" class="logo_main-link">мой кабинет</a>
            <a href="/logout" class="logo_main-link">выход</a>
        </div>
    </aside>
    <!--  -->

    <div class="user-page">
        <p class="user_name">Ann</p>
        <p class="user_name" style="padding-left: 20px;">Novikova</p>
    </div>

    <hr>

    <p class="sessions">Список сессий</p>

    <div class="second-menu">
        <a href="/admin" class="second-menu_link">Список сессий</a>
        <a href="/admin/latest" class="second-menu_link">Выдать ДЗ</a>
        <a href="admin_statistics.html" class="second-menu_link">Аналитика по клиентам</a>
        <a href="/admin/all-users" class="second-menu_link">Все клиенты</a>
    </div>

    <div class="sessions-list">

        <!--  -->
        <table class="table">
            <thead>
            <tr class="table-title">
                <th scope="col">Дата и время</th>
                <th scope="col">Имя Фамилия</th>
                <th scope="col">ДЗ</th>
            </tr>
            </thead>
            <tbody>

            <tr class="table-field" th:each="session_item : ${latestSession}">

                <div th:switch="${session_item.sessionHomework}">

                    <div th:case="null">
                        <td th:text="${session_item.sessionDate.parsingDate}"
                            class="sessions-list_item_field"></td>
                        <td class="sessions-list_item_field">
                            <span th:text="${session_item.user.username}"></span>
                            <span th:text="${session_item.user.lastname}"></span>
                        </td>

                        <td class="users-list_item_field">
                            <form action="#" th:action="@{'/admin/give-hw/' + ${session_item.id}}"
                                  th:object="${session}" method="post">
                                <div class="update-input"
                                     style="display: flex; gap: 10px; justify-content: center;">
                                    <textarea th:value="${sessionHomework}" class="text input-zoom"
                                              style="width: 400px; border: 1px solid rgba(205, 205, 205, 0.582);"
                                              name="sessionHomework" id="sessionHomework" cols="30" rows="5"></textarea>
                                    <input type="submit" value="готово" class="submit-price text">
                                </div>
                            </form>
                        </td>
                    </div>

                    <div th:case="*"></div>


                </div>


            </tr>

            </tbody>
        </table>
        <!--  -->


    </div>


</article>

</body>

</html>