<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/css/style_admin.css}" href="../../static/css/style_admin.css">
    <title>Stats</title>
</head>

<body>

    <article class="container">
        <!-- menu logo -->
        <aside class="logo-menu">
            <div class="logo_title-box">
                <h1 class="logo-title">Личный кабинет</h1>
                <h2 class="logo-subtitle">управление сессиями</h2>
            </div>
            <div class="logo_submenu">
                <a href="/welcome" class="logo_main-link">главная</a>
                <a href="/logout" class="logo_main-link">выход</a>
            </div>
        </aside>
        <!--  -->

        <div class="user-page">
            <p class="user_name">Ann</p>
            <p class="user_name" style="padding-left: 20px;">Novikova</p>
        </div>

        <hr>

        <p class="sessions">Аналитика</p>

        <div class="second-menu">
            <a href="/admin" class="second-menu_link">Список сессий</a>
            <a href="/admin/latest" class="second-menu_link">Выдать ДЗ</a>
            <a href="admin_statistics.html" class="second-menu_link">Аналитика по клиентам</a>
            <a href="/admin/all-users" class="second-menu_link">Все клиенты</a>
        </div>

        <div class="sessions-list">

            <div class="stat__main">
                <div class="left-box">
                    <div class="stat-box">
                        <p class="text stat-title" style="color:white;">Заработано за год</p>
                        <hr style="margin: 5px auto 10px;">
                        <p class="text" style="color: #B3B3B3">100 000 руб.</p>
                    </div>

                    <div class="stat-box">
                        <p class="text stat-title">Заработано за год</p>
                        <hr style="margin: 5px auto 10px;">
                        <p class="text" style="color: #B3B3B3">100 000 руб.</p>
                    </div>

                    <div class="stat-box">
                        <p class="text stat-title" style="color:white;">Заработано за год</p>
                        <hr style="margin: 5px auto 10px;">
                        <p class="text" style="color: #B3B3B3">100 000 руб.</p>
                    </div>
                </div>

                <div class="right-box">
                    <p class="stat-text text">Всего активных клиентов: 30 </p>
                    <p class="stat-text text">Проведено сессий в этом месяце: 50  </p>
                    <p class="stat-text text">Проведено сессий за этот год: 1000 </p>
                    <p class="stat-text text">Новых клиентов за месяц: 5 </p>
                    <p class="stat-text text">Общее количество проведенных сессий: 3000 </p>
                </div>
            </div>


<!--            <div class="stats">-->
<!--                <p class="stats-field"><strong>Всего клиентов:</strong> 80</p>-->
<!--                <p class="stats-field"><strong>Сессий проведено:</strong> 90</p>-->
<!--                <hr class="hr300">-->
<!--                <p class="stats-field"><strong>Активные клиенты:</strong> 20</p>-->
<!--                <p class="stats-field"><strong>Неактивные клиенты:</strong> 30</p>-->
<!--                <hr class="hr300">-->
<!--                <p class="stats-field"><strong>Активные сессии:</strong> 20</p>-->
<!--                <p class="stats-field"><strong>Проведено сессий за месяц:</strong> 90</p>-->
<!--                <p class="stats-field"><strong>Отменено сессий за месяц:</strong> 2</p>-->
<!--                <p class="stats-field"><strong>Перенесено сессий за месяц:</strong> 4</p>-->
<!--                <hr class="hr300">-->
<!--                <p class="stats-field"><strong>Новые клиенты за месяц:</strong> 10</p>-->
<!--                <p class="stats-field"><strong>Средний коэффицент прироста:</strong> 2.5</p>-->
<!--            </div>-->

<!--            <div class="stats-img"></div>-->

        </div>


    </article>

</body>

</html>