* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.back {
    position: relative;
    background: linear-gradient(70deg, #0000ff8f, #ff24fe9c);
    height: 100vh;
}

.container {
    box-shadow: 0 0 1000px white;
        position: absolute;
        border: 1px solid #ffffff21;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #dddddd69;
}

.container-title {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 70px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-input {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-items: start;
}

form {
    display: grid;
    gap: 20px;
    justify-items: start;
}

.text {
    color: black;
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
}

.reg-title {
    text-shadow: 0 0 10px #ffffff7d;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 300;
}

.input-custom {
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: none;
    text-decoration: none;
    /* box-shadow: inset 20px 20px 0px 20px #f3f2eb; */
    box-shadow: 0 0 10px #ffffff82;
}

.input-custom-btn {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: rgba(255, 87, 87, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.reg-btn{
text-align: center;
width: 200px;
background-color: rgb(104 87 255);
}

.input-custom-btn:hover {
    transform: scale(1.03);
}