* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: rgba(192, 192, 192, 0.247);
}

hr {
    margin: 0 auto;
    max-width: 1000px;
}

.submit {
    margin-top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(239 239 239 / 39%);
    border-radius: 5px;
    transition: 0.2s;
}

.submit:hover {
    background-color: rgb(239 239 239 / 78%);
}

.submit-price {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    max-width: 1140px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: white;
}

.logo-menu {
    text-align: center;
    background-color: rgb(39, 39, 39);
    padding: 30px;
    position: relative;
}

.logo-title {
    color: white;
    font-family: Inter;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2.5px;
    text-shadow: 0 0 10px white;
}

.logo-subtitle {
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-shadow: 0 0 5px white;
}

.logo_submenu {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 40px;
    top: 20px;
}

.logo_main-link {
    padding: 7px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    /* text */
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
}

.logo_main-link:hover {
    background-color: white;
    color: black;
}


/* user page */

.user-page {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 600px;
    background-image: url(static/img/cat2.png);
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
}

.user-edid {
    position: absolute;
    color: grey;
    right: 300px;
    top: 50px;
    /*  */
    font-family: Inter;
    font-size: 25px;
    font-weight: 300;
}

.user_name {
    color: rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 100px;
    font-weight: 100;
}

user_name_2 .user_field {
    color: black;
    font-family: Inter;
    font-size: 22px;
    font-weight: 300;
}

.input-zoom {
    /* border-radius: 8px; */
    /* width: 200px; */
    outline: none;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid rgba(205, 205, 205, 0.582);
    padding: 5px 10px;
    /*  */
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.time-input {
    outline: none;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid rgba(205, 205, 205, 0.582);
}


/*  */

.sessions {
    margin-top: 50px;
    text-align: center;
    color: black;
    font-family: Inter;
    font-size: 38px;
    font-weight: 300;
}


/* second menu */

.second-menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    background-color: rgb(39, 39, 39);
    padding: 20px;
}

.second-menu_link {
    background-color: black;
    border-radius: 10px;
    padding: 5px 20px;
    border-bottom: 1px solid black;
    /*  */
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
}

.second-menu_link:hover {
    border-bottom: 1px solid rgb(191, 0, 255);
}


/*  */


/* sessions list */

.sessions-list {
    max-width: 1000px;
    margin-bottom: 50px;
    margin: 30px auto;
    padding: 10px;
    /* background-color: rgba(207, 207, 207, 0.144);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.342); */
    display: grid;
    gap: 10px;
    align-items: start;
}

.sessions-list_item {
    /* margin: 5px 0; */
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.sessions-list_item:hover {
    background-color: rgba(224, 224, 224, 0.568);
}

.sessions-list_item_group1 {
    display: flex;
    gap: 5px;
    align-items: center;
}

.sessions-list_item_field:first-child {
    border-radius: 10px;
    font-weight: 400;
}

.sessions-list_item_group2 {
    display: flex;
    gap: 5px;
    align-items: center;
    right: 0;
}

.sessions-list_item_field {
    margin: 0 15px;
    padding: 5px 15px;
    text-align: center;
    /*  */
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.users-list_item_field {
    padding: 10px 0;
    /*  */
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.sessions-list_item_link {
    padding: 5px 15px;
    /*  */
    color: grey;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.sessions-list_item_link:hover {
    color: blue;
}

th,
td {
    border: none;
    text-align: center;
    padding: 10px 0;
    /*  */
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

table {
    padding: 10px;
    box-shadow: 0 0 30px #dbdbdb;
    border-collapse: collapse;
    /* Убираем двойные рамки */
}

.table-title {
    border-top: 2px solid rgba(169, 169, 169, 0.308);
    border-bottom: 2px solid rgba(169, 169, 169, 0.308);
    background-color: #e0e0e069;
}

.table-field {
    border-bottom: 1px solid rgba(169, 169, 169, 0.308);
}

.table-field:hover {
    background-color: rgba(235, 235, 235, 0.236);
}

.text {
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.input-grid {
    display: grid;
    justify-items: start;
    gap: 10px;
}


/* stats */

.stats {
    display: grid;
    gap: 10px;
}

.stats-field {
    max-width: 600px;
    border-radius: 10px;
    background-color: #d3d3d324;
    padding: 5px 10px;
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.stats-field:hover {
    background-color: #d3d3d363;
}

.hr300 {
    max-width: 620px;
    margin: 20px 0;
    background-color: rgba(216, 216, 216, 0.178);
    border-top: 1px solid rgba(216, 216, 216, 0.178);
}

.stat__main{
display: flex;
gap: 50px;
}

.left-box{
box-shadow: 0 0 100px #0000003d;
    display: grid;
    gap: 30px;
    justify-items: center;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    background-color: #d3d3d32e;
}

.right-box{
box-shadow: 0 0 100px #0000003d;
    display: grid;
    gap: 30px;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    background-color: #d3d3d32e;
    align-items: center;
}


.stat-title{
color:white;
}

.stat-text{
    border-radius: 3px;
    padding: 10px;
    color: white;
    background-color: #272727;
}

.stat-box {
    border-radius: 5px;
    background-color: #272727;
    padding: 10px 20px;
    width: 200px;
}

.hw-user__box{
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: grid;
    background-color: #d6e5ff5c;
    transition: 0.2s;
}

.hw-user__box:hover{
    background-color: #d6e5ff96;
}

.all-hw-done{
    background-color: #0000000d;
    border-radius: 5px;
    max-width: 1000px;
    margin: 30px auto;
}